body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 500px;
  margin: 20px auto;
  border: 2px solid green;
  height: 600px;
}

.col {
  color: red;
  border: 1px solid black;
  text-align: center;
}

/* // const classes = {
  //   add: 'd-flex flex-row justify-content-between px-3',
  // };  */

.main {
  height: 150px;
  border: 1px solid yellow;
}
