* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Generic classes */

.app-container,
body {
  background-color: rgb(108, 178, 240);
}

.single-image {
  width: 100px;
}

.single-data {
  padding: 10px;
}

#list {
  box-shadow: inset 0 4px 10px 0 rgb(63, 151, 228);
  padding: 10px 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 15px;
}
