* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Fonts for all componenets */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Generic classes */

.app-container {
  width: 1000px;
  background-color: rgb(108, 178, 240);
}

.single-image {
  width: 100px;
  height: 70px;
}

.single-data {
  width: 170px;
  padding: 10px;
}

#list {
  box-shadow: inset 0 4px 20px 0 rgb(63, 151, 228);
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}
